@using DataAccessLayer.Model
@model cSharpEksamen.Presentation.Models.TidsregistreringViewModel

@{
    ViewBag.Title = "Tidsregistrering";
}

<h2>Tidsregistrering</h2>
<form id="tidsregistreringForm" asp-action="CreateTidsregistrering" method="post">
    <table class="table">
        <thead>
        <tr>
            <th>StartTid</th>
            <th>SlutTid</th>
            <th>Medarbejder</th>
            <th>Sag</th>
            <th>Afdeling</th>
        </tr>
        <tr>
            <td>
                <input type="datetime-local" class="form-control small-input" id="startTid" name="startTid" required/>
            </td>
            <td>
                <input type="datetime-local" class="form-control small-input" id="slutTid" name="slutTid" required/>
            </td>
            <td>
                <select id="medarbejderInitialer" name="medarbejderInitialer">
                    <option value="" disabled selected>Vælg medarbejder</option>
                    @foreach (var medarbejder in ViewBag.Medarbejdere)
                    {
                        <option value="@medarbejder.Initialer"> @medarbejder.Navn (@medarbejder.Initialer)</option>
                    }
                </select>
            </td>
            <td>
                <select id="afdelingerDropdown" name="afdelingNr">
                    <option value="" disabled selected>Vælg afdeling</option>
                    @foreach (var afdeling in ViewBag.Afdelinger)
                    {
                        <option value="@afdeling.AfdelingNr"> @afdeling.AfdelingNavn</option>
                    }
                </select>
            </td>
            <td>
                <select id="sagerDropdown" name="sagId">
                    <option value="" disabled selected>Vælg sag</option>
                    @foreach (var sag in ViewBag.Sager)
                    {
                        <option value="@sag.SagId"> @sag.SagId</option>
                    }
                </select>
            </td>
            <td>
                <button type="submit" class="submit">Opret Tidsregistrering</button>
            </td>
        </tr>
        </thead>
    </table>
</form>

<tbody>

</tbody>

<style>
    .submit {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>


@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}